<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>{{ title }}</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>

        <link rel="icon" type="image/png" href="{{ '/images/icon.png' | url }}"/>

        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
        <!--Replace with your tailwind.css once created-->
        <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet"/>

        <link href="/dist/output.css" rel="stylesheet">

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

            body {
                font-family: 'Ubuntu', sans-serif;
            }
        </style>
    </head>

    <body class="leading-normal tracking-normal text-indigo-400 m-6 bg-auto sm:bg-cover bg-fixed" style="background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #063f45, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #063f45, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
        <div class="h-full">
            <div class="mx-auto w-full md:w-4/5 w-full container mx-auto">
                <div class="w-full flex items-center justify-between">
                    {% set navPages = collections.menu | eleventyNavigation %}
                    <a href="/"><img src="/images/icon.png" alt="Icon" style="width:200px;height:200px;">
                        <h1 class="my-4 text-3xl md:text-4xl font-bold text-white tracking-tighter opacity-100 leading-tight text-left">The Next Giant Leap to Women's Safety.</h1>
                        <h1 class="my-4 text-3xl md:text-2xl text-blue-300 opacity-60 text-left">"At least 1 in 3 women worldwide have been subjected to either physical and/or sexual intimate partner violence or non-partner sexual violence in their lifetime."</h1>
                        <p class="text-1xl text-white opacity-60 text-left">— A Study by WHO in 2021</p>
                    </a>
                </div>
            </div>
            {{ content | safe }}
        </div>
    </div>
</body>

</html>