<div class="w-full pb-6 text-sm text-gray-400 text-center md:text-left fade-in ">
    <a class="text-gray-400 no-underline hover:no-underline " href="# ">&copy; Served under the</a>
    <a class="text-white no-underline hover:no-underline ">MIT License</a>.
    <br>
    <div class="text-xl text-gray-400">
        <a class="text-gray-400 no-underline hover:no-underline ">Developed and Designed by</a>
        <a class="text-white no-underline hover:no-underline ">Nicole</a>,
        <a class="text-white no-underline hover:no-underline ">Saajan</a>,
        <a class="text-white no-underline hover:no-underline ">Faris</a>,
        <a class="text-white no-underline hover:no-underline ">Reanna</a>,
        <a class="text-white no-underline hover:no-underline ">Stefan</a>,
        <a class="text-white no-underline hover:no-underline ">Abby</a>,
        <a class="text-white no-underline hover:no-underline ">Peter</a>,
        <a class="text-gray-400 no-underline hover:no-underline ">and</a>
        <a class="text-white no-underline hover:no-underline ">John</a>.
    </div>
</div>