---
title: "OurSafetyClip"
tags: menu
layout: page.njk

eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="my-4 pt-8 text-3xl md:text-3xl text-white opacity-100 leading-tight text-left md:text-left">
  <span class="text-7xl font-bold tracking-tighter">OurSafetyClip</span>
  <br><br>
  OurSafetyClip<span class="make-it-pretty-blue"> is a </span>SOS notifier<span class="make-it-pretty-blue"> compatible with</span> Apple AirTag<span class="make-it-pretty-blue">. Designed as a part of the</span> 2022 SHAD Western<span class="make-it-pretty-blue"> program.</span>
</h1>

{# <h1 class="subtitle-white">
  <span class="make-it-pretty-blue">This saves</span> hundreds of megabytes of space <span class="make-it-pretty-blue">as well as resolving a possible</span> compatibility issue<span class="make-it-pretty-blue"> between different modules used in the developmental process.</span>
</h1> #}
<br>