---
title: "Docs: OurSafetyClip"
tags: menu
permalink: /docs/
layout: page.njk

eleventyNavigation:
  key: Docs
  order: 2
---

{# HORIZONTAL AND VERTICAL DIVIDER IN TAIWIND CSS: https://stackoverflow.com/questions/70032308/responsive-divider-between-two-column-using-tailwind-css #}

<h1 class="maintitle-white">One-Pager</h1>

{# Row 1 #}
<div>
  <h1 class="bigger-subtitle-white">
      <span class="opacity-60">Introduction</span>
  </h1>
</div>