---
title: "One Pager: OurSafetyClip"
tags: menu
permalink: /docs/
layout: page.njk

eleventyNavigation:
  key: One Pager
  order: 2
---

{# HORIZONTAL AND VERTICAL DIVIDER IN TAIWIND CSS: https://stackoverflow.com/questions/70032308/responsive-divider-between-two-column-using-tailwind-css #}

<h1 class="maintitle-white">One Pager</h1>

{# Row 1 #}
<div class="border-b">
  <h1 class="bigger-subtitle-white">
      <span class="opacity-60">Introduction</span>
  </h1>

  <h2 class="subtitle2-white">
    OurSafetyClip <span class="make-it-pretty-blue">is an </span>open-source project<span class="make-it-pretty-blue"> that is </span><span class="make-it-pretty-blue">grounded in</span> community <span class="make-it-pretty-blue">and by</span> community<span class="make-it-pretty-blue">.</span>
  </h2>

  <p class="context-white">
    <span class="opacity-60">
    Many college-aged students report that they feel vulnerable while living on campus, and that some of their peers tend to exhibit uncomfortable attitude towards them. This is why we came up with the idea, <b>OurSafetyClip</b>. The device is essentially a <b>tiny, confidential cellphone</b> that sends an automated voice message to 911 that includes the location information in an emergency situation. It uses Google's state-of-the-art <b>text-to-speech</b> (TTC) solution that translates the words into speech, so that the 911 operator can determine where you are and what situation you are in <b>without you even having to open your mouth</b>.
    </span>
  </p>

  <img class="mb-5 w-full" src="/images/render3.png" alt="render3" />
  <br>
</div>

{# Row 1 #}
<div class="pt-6">
  <h1 class="bigger-subtitle-white">
      <span class="opacity-60">Optional Device-App Synchronization</span>
  </h1>

  <h2 class="subtitle2-white">
    <span class="make-it-pretty-blue">You can now </span>sync<span class="make-it-pretty-blue"> the device with your</span> phone app <span class="make-it-pretty-blue">that will allow you to reach out to your closest</span> family <span class="make-it-pretty-blue">and</span> friends<span class="make-it-pretty-blue">.</span>
  </h2>

  <p class="context-white">
    <span class="opacity-60">
    A <b>mobile app</b> developing using Google's Flutter will be shipped with the device, where customers will be able to <b>customize</b> the <b>SOS button's behaviour</b> — e.g. specifying the behaviour when the button is triple clicked. Not only that, you can even change the default button behaviour from calling 911 to contacting your parents. This will greatly enhance the capability of our device, enabling it to be used in a wide range of settings.
    </span>
  </p>
  
  <img class="mb-5 w-full" style="border: 3px dotted #EEE" src="/images/sketch2.jpg" alt="sketch2" />
  <br>
</div>