---
title: "One Pager: OurSafetyClip"
tags: menu
permalink: /docs/
layout: page.njk

eleventyNavigation:
  key: One Pager
  order: 2
---

{# HORIZONTAL AND VERTICAL DIVIDER IN TAIWIND CSS: https://stackoverflow.com/questions/70032308/responsive-divider-between-two-column-using-tailwind-css #}

<h1 class="maintitle-white">One Pager</h1>

{# Row 1 #}
<div class="border-b">
  <h1 class="bigger-subtitle-white">
      <span class="opacity-60">Introduction</span>
  </h1>

  <h2 class="subtitle2-white">
    OurSafetyClip <span class="make-it-pretty-blue">is an </span>open-source project<span class="make-it-pretty-blue"> that is </span><span class="make-it-pretty-blue">grounded in</span> community <span class="make-it-pretty-blue">and by</span> community<span class="make-it-pretty-blue">.</span>
  </h2>

  <p class="context-white">
    <span class="opacity-60">
      <span class="text-2xl"><b>The Problem</b></span><br>
      In Canada alone, about 4.7 million or 30% of women have been sexally assaulted, and approximately 35% of women have been raped globally. Because of this, there is a fear shared by many people when walking alone at night, especially when walking in less savoury parts of town. Our solution will give people more peace of mind when walking outside alone, and although it won’t prevent incidents from happening, at least you know that help will be on the way.<br><br>

      <span class="text-2xl"><b>Our Solution</b></span><br>
      The device is essentially a <b>tiny</b>, <b>confidential</b> emergency device that sends an <b>automated voice message</b> to 911 which tells them your name, age, sex, and location. It uses Google's state-of-the-art <b>text-to-speech</b> (TTC) solution that translates the words into speech, so that the 911 operator can determine where you are and what situation you are in without even having to use your phone. In order to contact the police, you need to press the button 3 times. Once this happens, the device will turn on a flashing light and vibrate for 30 seconds to ensure that you know that it worked. However, if the call was accidental, simply hold down the button again for 5 seconds until the light turns off. If the call was intentional, the light will become solid after the 30 second period and the vibrations will turn off.<br><br>

      <span class="text-2xl"><b>The Impact</b></span><br>
      OurSafetyClip will give those walking at night the reassurance that should something happen, the police will only be 3 clicks away from being called. An added benefit of using this device is that you no longer require a phone to call the police, and the clip can simply be attached to any piece of clothing, making it easy and accessible to use. Once implemented, women will feel more safe and secure.
    </span>
  </p>

  <img class="mb-5 w-full" src="/images/render3.png" alt="render3" />

  <p class="text-xl text-white opacity-100 text-left">
    <span class="opacity-60">
      <i><b>3D Model</b> Designed by <b>Peter Chen</b>.</i>
    </span>
  </p>

  <br>
</div>

{# Row 1 #}
<div class="pt-6">
  <h1 class="bigger-subtitle-white">
      <span class="opacity-60">Optional Device-App Synchronization</span>
  </h1>

  <h2 class="subtitle2-white">
    <span class="make-it-pretty-blue">You can now </span>sync<span class="make-it-pretty-blue"> the device with your</span> phone app <span class="make-it-pretty-blue">that will allow you to reach out to your closest</span> family <span class="make-it-pretty-blue">and</span> friends<span class="make-it-pretty-blue">.</span>
  </h2>

  <p class="context-white">
    <span class="opacity-60">
    A <b>mobile app</b> developing using Google's Flutter will be shipped with the device, where customers will be able to <b>customize</b> the <b>SOS button's behaviour</b> — e.g. specifying the behaviour when the button is triple clicked. Not only that, you can even change the default button behaviour from calling 911 to contacting your parents. This will greatly enhance the capability of our device, enabling it to be used in a wide range of settings.
    </span>
  </p>
  
  <img class="mb-5 w-full" style="border: 3px dotted #EEE" src="/images/sketch2.jpg" alt="sketch2" />

  <p class="text-xl text-white opacity-100 text-left">
    <span class="opacity-60">
      <i><b>Concept Art</b> drawn by <b>John Seong</b>.</i>
    </span>
  </p>
  <br>
</div>