---
title: "Forum: OurSafetyClip"
tags: menu
permalink: /forum/
layout: page.njk

eleventyNavigation:
  key: Forum
  order: 3
---

{# USE GITHUB DISCUSSIONS API: https://docs.github.com/en/graphql/guides/using-the-graphql-api-for-discussions #}

<h1 class="maintitle-white">Community</h1>

<div>
  <h1 class="bigger-subtitle-white">
    <span class="opacity-60">Overview</span>
  </h1>

  <h2 class="subtitle2-white">
      <span class="make-it-pretty-blue">We value the </span>customers<span class="make-it-pretty-blue"> and they value us back.</span>
  </h2>

  <p class="context-white">
      <span class="opacity-60">
        <b>Your voice</b> is the integral part of any form of businesses; including ours, of course. In that sense, we wanted to reflect your opinion into our product, so we are dedicating a whole page of our website into listening to your feedback. Let's change the world by making a product that is widely available for everyone, without borders or discrimination.
      </span>
  </p>
</div>

<form class="bg-gray-900 opacity-100 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4 ">
  <div class="mb-4 ">
    <label class="block text-xl text-white py-2 mb-2 " for="emailaddress ">
      Development is currently in progress for this page and yet to be completed. In the meanwhile, you can tap the button below to simply redirect to the <span class="text-blue-300">Customer Satisfaction Survey</span>.
            </label>
  </div>
  <div class="gap-3 flex items-center justify-left">
    <a href="https://www.surveymonkey.com/r/TSHZX8M" class="bg-transparent hover:bg-blue-500 text-white hover:text-white py-2 px-4 border border-white hover:border-transparent rounded" type="button ">
                            Redirect to the Survey
                        </a>
  </div>
</form>