---
title: "The People: OurSafetyClip"
tags: menu
permalink: /forum/
layout: page.njk

eleventyNavigation:
  key: The People
  order: 3
---

{# USE GITHUB DISCUSSIONS API: https://docs.github.com/en/graphql/guides/using-the-graphql-api-for-discussions #}

<h1 class="maintitle-white">The People</h1>

<div class="border-b">
  <h1 class="bigger-subtitle-white">
    <span class="opacity-60">Overview</span>
  </h1>

  <h2 class="subtitle2-white">
      <span class="make-it-pretty-blue">We value the </span>customers<span class="make-it-pretty-blue"> and they value us back.</span>
  </h2>

  <p class="context-white">
      <span class="opacity-60">
        <b>Your voice</b> is the integral part of any form of businesses; including ours, of course. In that sense, we wanted to reflect your opinion into our product, so we are dedicating a whole page of our website into listening to your feedback. Let's change the world by making a product that is widely available for everyone, without borders or discrimination.
      </span>
  </p>
  <br>
</div>

<div class="pt-6">
  <h1 class="bigger-subtitle-white">
    <span class="opacity-60">Our Team</span>
  </h1>

  <h2 class="subtitle2-white">
      <span class="make-it-pretty-blue">We are a </span>diverse<span class="make-it-pretty-blue"> group both</span> gender-wise <span class="make-it-pretty-blue">and</span> ethnically.

  <p class="context-white">
      <span class="opacity-60">
        1. <b>Nicole</b> — Product Manager<br>
        2. <b>Saajan</b> — Head of Public Outreach<br>
        3. <b>Faris</b> — Business Analyst<br>
        4. <b>Peter</b> — Senior CAD Designer<br>
        5. <b>Reanna</b> and <b>Abby</b> — Creative Directors<br>
        6. <b>John</b> — Lead Software and Electrical Engineer
      </span>
  </p>

  <img class="mb-10 w-full" style="border: 3px dotted #EEE" src="/images/group.jpg" alt="group" />
</div>

<form class="bg-gray-900 opacity-100 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4 ">
  <div class="mb-4 ">
    <label class="block text-xl text-white py-2 mb-2 " for="emailaddress ">
      If you have any concerns of questions about our product, or would like to report a bug, please access our <span class="text-blue-300">survey</span> in order to contribute to our project. Your voice matters, and we will incorporate it into <span class="text-blue-300">OurSafetyClip</span>.
            </label>
  </div>
  <div class="gap-3 flex items-center justify-left">
    <a href="https://www.surveymonkey.com/r/TSHZX8M" class="bg-transparent hover:bg-blue-500 text-white hover:text-white py-2 px-4 border border-white hover:border-transparent rounded" type="button ">
                            Redirect to the Survey
                        </a>
  </div>
</form>