---
title: "OurSafetyClip"
tags: menu
layout: page.njk

eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="my-4 pt-8 text-3xl md:text-3xl text-white opacity-100 leading-tight text-left md:text-left">
  <span class="text-5xl md:text-6xl font-bold tracking-tighter bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-blue-500">OurSafetyClip</span>
  <br><br>
  OurSafetyClip<span class="make-it-pretty-blue"> is a </span>SOS notifier<span class="make-it-pretty-blue"> for people who are in risk of safety concerns</span><span class="make-it-pretty-blue">. Designed as a part of the</span> 2022 SHAD Western<span class="make-it-pretty-blue"> program.</span>
</h1>

<p class="mt-10 font-bold text-gray-400 text-5xl md:text-6xl tracking-tighter">
  Our Values
</p>

<p class="mt-5 text-white text-5xl">
  Ease of Use
</p>

<p class="mt-5 font-bold text-white text-5xl">
  Effectiveness
</p>

<p class="mt-5 text-white text-5xl">
  Cost-friendly
</p>
<br>